<div class="accept--page join">
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.signup.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.signup.content }}
  </div>
  {% else %}
  <div id="intro" class="intro">
    <div class="featured-text">
      Join the community of admissions professionals working to further equity and justice in our communities.
    </div>
    <h3>Admissions Professionals</h3>
    <p>If you work in any aspect of college admissions, <a href="https://www.facebook.com/groups/529200500616435/" target="_blank">join the ACCEPT Facebook group!</a></p>
    <br />
    <h3>Professionals, Community Members, Parents, Students</h3>
    <p>Follow ACCEPT on <a href="https://www.facebook.com/ACCEPTCultivatingEquityAndPeaceToday/" target="_blank">Facebook</a> and <a href="https://www.instagram.com/acceptinsta/" target="_blank">Instagram</a>.</p>
  </div>
  {% endif %}

  {% if page.show_social_slider? and page.public_activities_count > 0 %}
  {% include "social_slider" %}
  {% endif %}

  <div class="form-wrap">
    <h3>Join Our Mailing List</h3>
    <p>Sign up to receive information about ACCEPT’s advocacy, action, and research.</p>
    <div class="form">

      {% form_for signup %}

      {% if request.sorta_logged_in? %}
        <h4>Hi {{ request.current_signup.name_or_email }}, thanks for joining!</h4>

      {% if request.logged_in? == false %}
        <div class="padbottommore"><small>If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here to signup</a>.</small></div>
      {% endif %}

      {% endif %}

      <div class="form-errors">{% error_messages_for signup %}</div>

        {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
        <div class="row-fluid">
          <div class="span6">{% text_field "first_name", class:"text", placeholder:"First Name" %}</div>
          <div class="span6">{% text_field "last_name", class:"text", placeholder:"Last Name" %}</div>
        </div>
        {% endif %}

        {% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
        <div class="row-fluid">
          <div class="span6">{% email_field "email", class:"text", placeholder:"Email" %}</div>
          {% if site.ask_for_mobiles? %}
          <div class="span6">{% phone_field "mobile_number", class:"text", placeholder:"Mobile Phone" %}</div>
          {% endif %}
        </div>

        {% unless page.show_consent_form? %}
        <div class="row-fluid accept--hidden">
          <div class="span6"><label class="checkbox" for="signup_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></div>
          {% if site.ask_for_mobiles? %}
          <div class="span6"><label class="checkbox" for="signup_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label></div>
          {% endif %}
        </div>
        {% endunless %}
        {% endif %}

      {% if page.signup.is_phone? %}
      <div class="row-fluid">
        <div class="span12">{% phone_field "phone_number", class:"text", placeholder:"Phone" %}</div>
      </div>
      {% endif %}

      {% if page.signup.is_address? %}

      {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
      <div class="row-fluid">
        <div class="span12">{% text_field "submitted_address", class:"text", placeholder:"Address" %}</div>
      </div>
      <div class="row-fluid">
        <div class="span12"><label for="signup_country_code">Country</label>{% collection_select "country_code", page.signup.countries, "code", "name", class:"select" %}</div>
      </div>
      {% endif %}

      {% endif %}

      {% if page.signup.has_labeled_tags? %}
        {% include "labeled_tags" %}
      {% endif %}

      {% if page.signup.is_volunteers? and site.ask_for_volunteers? %}
      {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
      <div class="row-fluid">
        <div class="span12"><label class="checkbox" for="signup_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></div>
      </div>

      {% endif %}
      {% endif %}

      <div class="row-fluid accept--hidden">
        <div class="span12"><label for="signup_activity_is_private" class="checkbox">{% check_box "activity_is_private", class:"checkbox" %} Don't publish this on the website</label></div>
      </div>

      {% if page.show_consent_form? %}{% include "consent_form" %}{% endif %}

      {% if page.signup.is_all_info_collected? == false %}
      {% if request.sorta_logged_in? %}
      {% submit_tag "Update info", class:"submit-button" %}
      {% else %}
      {% submit_tag "Signup", class:"submit-button" %}
      {% endif %}
      {% endif %}
      <div class="form-submit"></div>

      {% endform_for %}

      {% if page.text_keyword_instructions.size > 0 %}
      <div class="row-fluid padbottom padtopmore">
        <div class="span12">
        or {{ page.text_keyword_instructions }}
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</div>

  {% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
</div>
